.p-Detail-inner img{
      width: 100%;
}
.p-Detail-inner .product-info{
    padding: .4rem .3rem;
}
.product-info li a{
    font-size: .8rem;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}
.product-info li.active{
    font-size: .8rem;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    line-height: 2;
}
.product-info .product-title h3{
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2;
}
.product-info .product-desc p{
    font-size: .8rem;
    font-weight: 380;
    line-height: 1.2;
    color: #6e6868;
}
.product-info .accd{
    border: 1px solid #dddddd;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}
.product-info .price-rate{
    margin: 1rem 0;
}
.product-info .count-bucket-btn{
    width: 100%;
}
.count-bucket-btn .count-btn{
    
}
.count-btn .btn-outline-danger{
    color: #e21e2d;
    border-color: #e21e2d;
    padding: 0.5rem 1.4rem;
    font-weight: 600;
    border-radius: 0;
}
.count-btn .btn-outline-danger:hover{
    background-color: transparent;
}
.count-btn .btn-danger{
    color: #ffffff;
    border-color: #e21e2d;
    padding: 0.5rem 1.4rem;
    font-weight: 600;
    border-radius: 0;
}
.count-bucket-btn .bucket-btn{
    
    padding: 0;
}
.bucket-btn .btn{
   padding: .5rem 5rem;
   border-radius: 0;
}